<%= simple_form_for( @profile ) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs" style="padding-left:15%; text-align:left;">
        <%= f.input :photo, as: :file %>
        <%= f.input :name, required: true, autofocus: true %>
        <%= f.input :phone, required: true, autofocus: true %>
        <%= f.input :age, required: true, autofocus: true %>
        <%= f.input :address, required: true %>
        <%= f.input :bio, required: true %>
        <%= f.input :sports, collection: ["Surf", "Hiking", "Snowboard", "Windsurf", "Ski"], include_hidden:false, as: :check_boxes, input_html: { class: "toggle" }  %>
        <%= f.input :user_type, collection: ["User", "Guide"]%>
      </div>
  <div class="form-inputs" style="padding-left:15%; padding-right:15%;">
        <%= f.button :submit, "Submit", class: "btn btn-primary" %> <% end %>
  </div>
</div>
