<div class="m-5">
  <div class="row p-3">
    <div class="col">
    <h1>My profile <%= link_to 'Edit', edit_profile_path, class: "btn btn-accent" %> </h1>
    <% if @profile.photo.key %>
    <%= cl_image_tag @profile.photo.key, height: 250, width: 250, crop: :fill, class: "rounded-circle" %>
    <% else %>
      <%= image_tag "user.png", alt: "user_getcrank.io", height: 250, width: 250%>
    <% end %>
    </div>
    <div class="col-8" style="overflow-wrap: break-word;">
      <h2 style="border-bottom: 1px solid white; text-transform:uppercase; padding: 5px;">Name: <%= @profile.name %></h2>
      <p style="border-bottom: 1px solid white; text-transform:uppercase;padding: 5px;">Age: <%= @profile.age %></p>
      <p style="border-bottom: 1px solid white; text-transform:uppercase;padding: 5px;">Biographie: <%= @profile.bio %></p>
      <p style="border-bottom: 1px solid white; text-transform:uppercase;padding: 5px;">Interested in sports: <% @profile.sports[0..-2].each do |sport|%>
      <%= sport %>, <% end %> <%= @profile.sports.last %>
      </p>
      <p style="border-bottom: 1px solid white; text-transform:uppercase;padding: 5px;">Favorite Places: <%= @profile.favorite_places %></p>
      <p style="border-bottom: 1px solid white; text-transform:uppercase;padding: 5px;">Located: <%= @profile.address %></p>
      <p style="border-bottom: 1px solid white; text-transform:uppercase;padding: 5px;">Phone: <%= @profile.phone %></p>
      <p style="border-bottom: 1px solid white; text-transform:uppercase;padding: 5px;">Profile Type: <%= @profile.user_type %></p>
    </div>
  </div>
</div>
