<div class="m-5">
<h1>My profile <%= link_to 'Edit', edit_profile_path, class: "btn btn-accent" %> </h1>
  <div class="row p-3">
    <div class="col">
    <% if @profile.photo.key %>
    <%= cl_image_tag @profile.photo.key, height: 250, width: 250, crop: :fill %>
    <% else %>
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" width="250" height="250" />
    <% end %>
    </div>
    <div class="col-8">
      <h1>Name: <%= @profile.name %></h1>
      <h3>Phone: <%= @profile.phone %></h3>
      <h3>Age: <%= @profile.age %></h3>
      <h3><%= @profile.bio %></h3>
      <h3>Interested in sports: <%= @profile.sports %></h3>
      <h3>Located: <%= @profile.address %></h3>
      <%# <%= @profile.user_type %>
    </div>
  </div>
</div>
