<h1>My profile</h1><br>

<h1><%= @profile.name %></h1>
<h3><%= @profile.phone %></h3>
<h3><%= @profile.age %></h3>
<h3><%= @profile.bio %></h3>
<h3><%= @profile.sports %></h3>
<h3><%= @profile.address %></h3>
<h3><%= @profile.user_type %></h3>
