<div class="m-5 container m-auto" data-controller="chatroom"
  data-chatroom-chatroom-id-value="<%= @chatroom.id %>"
  data-chatroom-user-id-value="<%= current_user.id %>">
  <h1>Chat</h1>

  <div class="messages" data-chatroom-target="messages">
    <% @chatroom.messages.each do |message| %>
     <%= render partial: 'messages/message', locals: { message: message } %>
      <div id="message-<%= message.id %>" class="text-<%= message.user == current_user ? 'end' : 'start' %>">
          <div class="container border-box">
          <div class="chatroom">
        <p class="mt-2 fs-6 badge px-3 py-2 rounded-pill bg-<%= message.user == current_user ? 'primary' : 'light text-dark' %>"><%= message.content %></p>
          <%= cl_image_tag message.user.profile.photo.key,  class: "avatar dropdown-toggle ml-20px" %>
          </div>
          </div>
          <div>
          <%= message.user.profile.name %>
          <small><i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i></small>
          </div>
        <br>
      </div>
    <% end %>
  </div>

  <div class="mt-5">
    <%=  simple_form_for [@chatroom, @message],
      remote: true,
        html: {data: {action: "ajax:success->chatroom#resetForm"}, class: "d-flex", autocomplete: "off" } do |f| %>
        <%= f.input :content,
          as: :string,
          label: false,
          placeholder: "Start typing...",
          wrapper_html: {class: "flex-grow-1"}
        %>
        <%= f.submit "Send", class: "btn btn-accent ms-5" %>
      <% end %>
  </div>
  </div>
</div>
