<div class="m-5 container"
    data-controller="chatroom-subscription"
    data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"

  <h1>#<%= @chatroom.name %>t</h1>

  <div class="messages" data-chatroom-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
      <div id="message-<%= message.id %>" class="text-<%= message.user == current_user ? 'end' : 'start' %>">
        <small>
          <strong><%= message.user.email %></strong>
          <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
        </small><br>
        <p class="mt-2 fs-6 badge px-3 py-2 rounded-pill bg-<%= message.user == current_user ? 'primary' : 'light text-dark' %>"><%= message.content %></p>
      </div>
  </div>

  <div class="mt-5">
    <%= simple_form_for [@chatroom, @message],
      remote: true,
      html: {class: "d-flex"} do |f| %>
        <%= f.input :content,
          as: :string,
          label: false,
          placeholder: "Start typing...",
          wrapper_html: {class: "flex-grow-1"}
        %>
        <%= f.submit "Send", class: "btn btn-accent ms-5" %>
      <% end %>
  </div>
</div>
