<div class="banner align-middle">
  <div class="row">
    <div class="m-3 col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <h1>We connect extreme athletes with foreign locals</h1>
      <br>
      <p style="text-transform: uppercase; font-style: italic;">“If you want to go fast, go alone - <br> if you want to go far go together”</p>
      <br>
      <% if current_user.present? %>
      <%= link_to "About", "/about", class: "btn btn-accent-big" %>
      <% else %>
      <%= link_to "REGISTER NOW", new_user_registration_path, class: "btn btn-accent-big" %>
      <% end %>
      <a class="btn btn-accent-big" href="#sports">VIEW SPORTS</a>
    </div>
  </div>
</div>

<div class="row m-3 cards content" id="sports">
  <h2>Sports you can connect with locals</h2>
  <% @sports.each do |sport| %>
      <div class="card-category" style="background-image: url('<%= sport.photo.key.present? ? cl_image_path(sport.photo.key) : '' %>')">
        <%= sport.name %>
        <%= link_to 'Click here', sports_offers_path(query: sport.name) %>
      </div>
  <% end %>
</div>

<div class="banner-slim align-middle">
  <div class="m-5">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-3">
        <img class="featured-img" src="https://brunswickdowntown.org/wp-content/uploads/2020/06/tennis-lesson.jpg" alt="">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <h2>Register now for your next trip</h2>
        <br>
      <p>Made for you, free to use, exciting to discover. Join now for more Insights. </p>
        <br>
      <%= link_to "REGISTER NOW", new_user_session_path, class: "btn btn-accent-big" %>
      </div>
    </div>
  </div>
</div>

<div class="m-5 banner-slim-center">
    <div class="col-12 m-1">
      <h2>we only deliver exciting stuff </h2>
      <br>
      <p>join the mailing list</p>
      <br>
      <a href="http://eepurl.com/h3KbFT" target="_blank" class="btn btn-accent-big">RECEIVE NOW</a>
    </div>
</div>
