<!DOCTYPE html>
<html>
  <head>
    <title>Gocranc</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title><%= "getcrank.io platform for extreme sports" %></title>
    <meta name="description" content="<%= "WE CONNECT EXTREME ATHLETES WITH FOREIGN LOCALS" %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta property="og:url"                content="http://www.nytimes.com/2015/02/19/arts/international/when-great-minds-dont-think-alike.html" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="getcrank.io platform for extreme sports" />
    <meta property="og:description"        content="WE CONNECT EXTREME ATHLETES WITH FOREIGN LOCALS" />
    <meta property="og:image"              content="https://www.getcrank.io/assets/logo-950d5b83f8126ff2e726d735bb0860ae8e2b8ebbb66df279d7ca7c2188ae0b9d.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <link rel="icon" type="image/x-icon" href="favicon_getcrank.png">
  </head>

  <body class="d-flex flex-column min-vh-100">
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
